body{
	background-color: rgb(245, 245, 245);
	color: rgb(120, 120, 120);
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
}
h1, h2 {
	font-family: 'Fira Sans', sans-serif;
}
h1{
	color: black;
	font-size: 40px;
	font-weight: 700;
	margin-top: -15px;
	margin-bottom: 0.3em;
}
h2{
	color: rgb(30, 30, 30);
	font-size: 24px;
	font-weight: 600;
} 
a {
    text-decoration: none;
    color: #181573;
    transition: color 0.2s ease;
}
a:hover {
	color: #3F6699;
}

p span {
	color: #181573;
}

.container{
	width: 750px;
	margin: 22px auto;
}

@media (max-width: 760px) {
    .container {
	width: 600px
    }
}

@media (max-width: 500px) {
    .container {
	width: 400px
    }
}


.card-white {
	background-color: white;
	padding: 70px;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: justify;
	text-align-last: center
}

.img-circle{
	border-radius: 50%;
}
#photo{
	width: 175px;
}
.btn-blue{
	background-color: #181573;	
	color: white;
	padding: 10px 12px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: #3F6699;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: lightgrey;
}

.list-inline i:hover {
	font-size: 50px;
	color: #181573;
}

#introduction p {
	margin-bottom: 40px;
}


